
.info1{
    background:  linear-gradient(45deg,#2ed8b6,#59e0c5)!important;
     color:#fff!important;
 }
 
 .warning1{
     background:  linear-gradient(45deg,#e87169,#ed5b5b)!important;
      color:#fff!important;
  }
 
  .info2{
     background:  linear-gradient(45deg,#4fa3d8,#518be2)!important;
      color:#fff!important;
  }
 
  .info3{
     background:  linear-gradient(45deg,#7d4fd8,#a551e2)!important;
      color:#fff!important;
  }
 
 .min-height{
     min-height: 200px!important;
   }