.mainContent{
  margin-top:100px;
}

body{
  background-color: #f8f9fe;
}

.mainContent .MuiPaper-root{
  padding: 24px 16px;
  color: #656464
}

.mainContent .MuiPaper-root .MuiSvgIcon-root:first-child{
  margin-right: 10px;
}

tbody tr:nth-child(even) {background: #f5f5f5}

.buttonOk{
  background: linear-gradient(225deg, #378c45 19%, #60d031 90%);
  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  padding: 0 30px!important;
  box-shadow: 0 3px 5px 2px rgba(93, 93, 93, 0.3);
}

.buttonCancel{
  background: linear-gradient(225deg, #f70f0f 19%, #ba1d1d 90%);
  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  padding: 0 30px!important;
  box-shadow: 0 3px 5px 2px rgba(93, 93, 93, 0.3);
}

.buttonWarning{
  background: linear-gradient(225deg, #4712af 19%, #1444f3 90%);
  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  padding: 0 30px!important;
  box-shadow: 0 3px 5px 2px rgba(93, 93, 93, 0.3);
}

.buttonOk span, .buttonCancel span{
  color:#fff;
}

a:hover,a:link{
  text-decoration: none;
}